/* Stylesheet for magnifying glass */

/* basic reset*/
* {
	margin: 0; 
	padding: 0;
	font-family: cursive;
}

body {
	text-align: center;
	margin: 0 auto;
}

header {
	padding: 30px;
}
	
.magnify {
	width: 300px; /* match width to that of .small image */
	margin: 50px auto; 
	position: relative;
}

.small { 
	width: 300px; 
}

/* Magnifying glass */
.glass {
	background: url('https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/p600x600/1486637_10151764088537256_389782913_n.jpg') no-repeat;
	cursor: crosshair;

	width: 200px; 
	height: 200px;
	position: absolute;	/* positioned with jQuery over .magnify*/
	border-radius: 100%; /* full circle */
	
	/* Glass effect using thick white border and a light blurring inset shadow */
	box-shadow: 0 0 0 5px white, 
		inset 0 0 20px 1px lightgrey;
	
	/*hide the glass by default*/
	display: none;
}